body {
    margin: 0;
    min-height: 100vh;
    background: #A3A1A6;
    background: linear-gradient(160deg, #A3A1A6 45%, #DBCAAE 71%, #FDD597 89%);
    position: relative;
}

css-doodle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    display: block;
    pointer-events: none;
}

body > *:not(css-doodle) {
    position: relative;
    z-index: 1;
}